body{
    font-family: Arial;
}
<<<<<<< HEAD
h5,h2{
=======
h5, h2{
>>>>>>> feature/listaProdotti
    font-weight: bold;
}

p{
    font-size: larger;
}
.navbar-custom { 
    background-color: rgb(214, 21, 36); 
} 
.color-g1{
    background-color: rgb(215, 215, 215);
   
}
.color-g2{
    background-color: rgb(170, 170, 170);
    padding:2%
}
.color-bot{
    background-color: rgb(242, 242, 242);
}
.textlink{
    font-weight: bold;
    color:rgb(214, 21, 36);
    font-weight: bold;
}
.basictext{
    font-size:71.7%;
    color:white;
}
.awhite{
    color:white;
    text-decoration: underline;

}
.ablack{
    color:black;
    text-decoration: underline;
}
.footertext{
    font-size:70%;
}

.container-fluid{
    padding:0;

}
.navbar{
    padding:0;
    
}
.navbar-brand{
    padding:0;
    margin:0;
    float:left;
    padding-right: 20%;
}

.form-group{
    margin:0;
}
#navBarSearchForm{
    width:80%;
    margin: 0;
}
.nav-item{

    margin-top:2%;
    /* padding:2%; */
}
.navbar-brand{
    padding:0;
}
.button{
    padding-right:2%;
}
.text-center{

    display: flex;
    justify-content: center;
    align-items: center;
}
.search-center{
    justify-content: center;
    align-items: center;
}
.row{
    margin-right:0;
}

.bg-image{
    background-image: url("../backgroundImages/museum.png");
    background-size: cover;
}

.bg-image2{
    background-image: url("../backgroundImages/city.png");
    background-size: cover;
}

.text-block {
    background-color: white;
    color: black;
    padding: 3%;
  }
.text-block-bot{
    color: black;
    padding: 1%;
}
.imgsize{
    width: 70%;
    margin-top: 50%;
    margin-left:65%;
    margin-bottom: 40%;
  }

.textbox{
    width: 60%;
    height: 30%;
    margin: 20%;
    border-radius:5px;
    margin-bottom: 15%;
}
.row{
    margin:0;
}

.btn-primary{
    margin-top:3%;
    padding: 3%;
}

@media (max-width: 575.98px){
    .pittogramma{
        display:none;
    }
}

<<<<<<< HEAD
/*Pagina prodotto*/
=======
/*Lista prodotti*/
.breadcrumb{
    background-color: white;
}

.btn-center{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-padding{
    padding: 0% 5% 5% 5%;
}
hr{
    margin-top: 0;
}
>>>>>>> feature/listaProdotti
