body{
    font-family: Arial;
}
p{
    font-size:larger;
}
h5, h2{
    font-size:x-large;
    font-weight: bold;
}

.navbar-custom { 
    background-color: rgb(214, 21, 36); 
} 
.color-g1{
    background-color: rgb(215, 215, 215);
   
}
.color-g2{
    background-color: rgb(170, 170, 170);
    padding:2%
}
.color-bot{
    background-color: rgb(242, 242, 242);
}
.textlink{
    font-weight: bold;
    color:rgb(214, 21, 36);
}
.basictext{
    font-size:71.7%;
    color:white;
}
.awhite{
    color:white;
    text-decoration: underline;

}
.ablack{
    color:black;
    text-decoration: underline;
}
.footertext{
    font-size:70%;
}

.container-fluid{
    padding:0;

}
.navbar{
    padding:0;
    
}
.navbar-brand{
    padding:0;
    margin:0;
    float:left;
    padding-right: 20%;
}

.form-group{
    margin:0;
}
#navBarSearchForm{
    width:80%;
    margin: 0;
}
.nav-item{

    margin-top:2%;
    /* padding:2%; */
}
.navbar-brand{
    padding:0;
}
.button{
    padding-right:2%;
}
.text-center{

    display: flex;
    justify-content: center;
    align-items: center;
}
.search-center{
    justify-content: center;
    align-items: center;
}
.row{
    margin-right:0;
}

.bg-image{
    background-image: url("../backgroundImages/museum.png");
    background-size: cover;
}

.bg-image2{
    background-image: url("../backgroundImages/city.png");
    background-size: cover;
}

.text-block {
    background-color: white;
    color: black;
    padding: 3%;
  }
.text-block-bot{
    color: black;
    padding: 1%;
}
.imgsize{
    width: 70%;
    margin-top: 50%;
    margin-left:65%;
    margin-bottom: 40%;
  }

.textbox{
    width: 60%;
    height: 30%;
    margin: 20%;
    border-radius:5px;
    margin-bottom: 15%;
}
.row{
    margin:0;
}

@media (max-width: 575.98px){
    .pittogramma{
        display:none;
    }
}


/*Pagina prodotto*/

/*Lista prodotti*/
.breadcrumb{
    background-color: white;
}

.btn-center{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container-padding{
    padding: 0% 5% 5% 5%;
}
hr{
    margin-top: 0;
}
.btn-primary-bot{
    margin-top:3%;
    padding: 3%;
}
/*Pagina prodotto*/

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #404040;
  }
.logo{
    height: 50px;
}
/*SCHEDA PRODOTTO*/
.box-index{
    -webkit-box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    width: 200px; 
    margin-left: 2%;
    position: absolute;
    font-size: smaller;
    background-color: white;
    text-align-last: end;
    font-weight: bold;
    text-decoration: underline;
}
.box-index2{
    font-size: smaller;
    background-color: white;
    text-align-last: end;
    font-weight: bold;
    text-decoration: underline;
    display:none;
}
.scheda-padd{
    padding: 0% 20% 0 20%
}

@media (max-width: 992px){
    .scheda-padd{
        padding-right:0;
        padding-left:30%;
    }
    .box-index2{
        display:none;
    }
}
@media (max-width: 767px){
    .scheda-padd{
        padding:0;

    }
    .box-index{
        display:none;
    }
    .box-index2{
        display:contents;
    }
}

/*PAGINA EDITORIALE*/
.bg-bridge{
    background-image: url("https://www.hdwallpapers.in/download/akashi_kaikyo_bridge_japan-wide.jpg");
    background-size: cover;
}
.textpage{
    float: right;
    padding: 3% 1% 1% 7%;
    margin: 5% 5% 5% 23%;
    background: rgba(245, 244, 244, 0.8);
    color: darkslategray;
}
.intro{
    padding: 1% 5% 0% 23%;
    margin: 5% 0% 5% 0%;
    color: darkslategray;
}
.box-index-scheda{
    -webkit-box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    box-shadow: 13px 14px 20px -1px rgba(0,0,0,0.75);
    width: 200px;
    position: absolute;
    background-color: white;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 15%;
    margin-left:2%
}
ol{
    margin-block-start:0px;
    padding-inline-start: 3%;
}
@media(max-width: 991px){
    .box-index-scheda{
        display: none;
    }
    .intro{
        padding:1% 5% 0% 5%;
    }
}

/*DIV OVER ANOTHER DIV*/
.carousel-control-prev{
    padding-right: 10%;
}
.carousel-control-next{
    padding-left:10%;
}
.disabledcarousel{
    pointer-events: none;
    background-color: grey;
    background: transparent;
    opacity: 0.4;

}
/*END*/

/* css per elementi modal*/
.modal-content {
    background: rgb(170, 170, 170);
    border:none; 
}

.modal-header {
    background-color: rgb(214, 21, 36);
}

.albumInfo {
    z-index: 2; 
    position: relative; 
    margin-top: -65%;
    margin-left: -5%;
    margin-right: 5%;
    margin-bottom: 15%;
    background-color:rgb(242, 242, 242);
    opacity: 85%;
}
 @media (max-width:1090px){
    .carouselImage {
        height: 150px;
    }
 }

 .carouselImage {
     z-index: 1; /*per sovrapporsi allo spazio occupato dalla freccia del carousel*/
     position: relative;
     height: 230px;
 }
 
 /*sistemare parte inferiore della pagina web in fondo alle varie risoluzioni*/
 @media (min-width: 768px) and (max-width: 991.98px) { 
    .marginModify {
        margin-top: 44%;
    }

    .carouselImage {
        height: 130px;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) { 
    .marginModify {
        margin-top: 59%;
    }
   }

   @media (min-width: 315px) and (max-width: 414px) { 
    .marginModify {
        margin-top: 34%;
    }
   }